# DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
# NEXTAUTH_SECRET=""
# NEXTAUTH_URL="http://localhost:3000"

# NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="SEU_CLOUD_NAME_AQUI"
# NEXT_PUBLIC_CLOUDINARY_API_KEY="SUA_API_KEY_AQUI"
# CLOUDINARY_API_SECRET="SEU_API_SECRET_AQUI"